body {
    background-color: white;
    color: aliceblue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
  }
        
  li {float: left;}
        
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:larger;
  }
        
        li a:hover:not(.active) {
          background-color: #111;
        }
        
  .active {
    background-color: #248f24;
    color: white;
  }

  
  /* Add padding to containers */
  .container {
    box-sizing: border-box;
    margin: auto;
    width: 75%;
    padding: 16px;
    background-color: #333;
  }
  
  /* Full-width input fields */
  input[type=text]{
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: beige;
  }
  
  input[type=text]:focus{
    box-sizing: border-box;
    width: 100%;
    background-color: #ddd;
    outline: none;
  }

    /* Set a style for the submit button */
    .registerbtn {
        box-sizing: border-box;
        width: 95%;
        background-color: #248f24;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
      }
      
      .registerbtn:hover {
        box-sizing: border-box;
        width: 100%;
        opacity: 1;
      }

      .logo{
        padding-left: 10px;
      }